<div class="col-xs-12 col-sm-<%= columnWidth %> matchHeight">

        <h2 style="color:<%= headingColour %>;"><%= heading %></h2>
        <h5><%= tagline %></h5>
        <p><a href="http://data.nsw.gov.au/data/dataset/sydney-region-dwelling-completions" target="_blank">http://data.nsw.gov.au/data/dataset/sydney-region-dwelling-completions</a></p>

</div>

<!-- DA BAR -->
<div id="lag-bar" class="col-xs-12 col-sm-<%= columnWidth/2 %>">
    <h5>Parramatta LAG</h5>
    <div id="bar-1"></div>
</div>

<!-- DA BAR 2 -->
<div id="suburb-bar" class="col-xs-12 col-sm-<%= columnWidth/2 %>"></div>
