<div class="col-xs-12 col-sm-<%= columnWidth %> matchHeight">

    <h2 style="color:<%= headingColour %>;"><%= heading %></h2>
    <h5><%= tagline %></h5>

    <%= html %>

</div>

<!-- VIDEO DIV -->
<% if (video1 !== "") { %>
<div id="video-one" class="col-xs-12 col-sm-<%= columnWidth/2 %>">
    <div class="responsive-container">
        <%= video1 %>
    </div>
</div>
<% } %>

<!-- VIDEO DIV -->
<% if (video2 !== "") { %>
<div id="video-two" class="col-xs-12 col-sm-<%= columnWidth/2 %>">
    <div class="responsive-container">
        <%= video2 %>
    </div>
</div>
<% } %>

<!-- VIDEO DIV -->
<% if (video3 !== "") { %>
<div id="video-three" class="col-xs-12 col-sm-<%= columnWidth/2 %>">
    <div class="responsive-container">
        <%= video3 %>
    </div>
</div>
<% } %>

<!-- VIDEO DIV -->
<% if (video4 !== "") { %>
<div id="video-four" class="col-xs-12 col-sm-<%= columnWidth/2 %>">
    <div class="responsive-container">
        <%= video4 %>
    </div>
</div>
<% } %>
