
<div class="container">

    <!-- HEADER ROW START -->
    <div class="row">

        <header class="col-xs-12">
            <img src="images/parra-logo-new-502x311.png" width="258" height="160" alt="logo" />
            <a href="http://www.uws.edu.au/ics" target="_blank"><img class="western-logo" src="images/ICS_Logo.jpg" width="207" height="148" alt="logo" /></a>
        </header>

    </div>
    <!-- HEADER ROW END -->


    <!-- INTRO PARAGRAPH -->

    <div class="row">

        <div id="intro-text" class="col-xs-12">

            <div class="thick-black"></div>
            <h1><%= title %></h1>
            <%= introPara %>
            <div class="thick-black"></div>


        </div>

    </div>

    <!-- END INTRO PARAGRAPH -->

</div>
