<body>

<div id="main-container">
    <div id="head-wrap">
        <div class="container">

            <!-- HEADER ROW START -->
            <div class="row">

                <header class="col-xs-12">
                    <img src="images/parra-logo-new-502x311.png" width="258" height="160" alt="logo">
                    <a href="http://www.uws.edu.au/ics" target="_blank"><img class="western-logo"
                                                                             src="images/ICS_Logo.jpg" width="207"
                                                                             height="148" alt="logo"></a>
                </header>

            </div>
            <!-- HEADER ROW END -->


            <!-- INTRO PARAGRAPH -->

            <div class="row">

                <div id="intro-text" class="col-xs-12">

                    <div class="thick-black"></div>
                    <h1>Parramatta is transforming.</h1>
                    <h5>Parramatta is changing fast. More jobs, more green spaces, more cultural facilities, more
                        people. This site explores the data on Parramatta today - towards understanding the city of
                        Parramatta tomorrow.</h5>
                    <h5>We’re exploring what kinds of information is out there on Parramatta as a city in transition.
                        Over time, we want the site evolving to become a citizen’s dashboard of Parramatta. Find out
                        what is planned for the area, how the city has evolved over time, and what’s trending in the
                        city right now. </h5>

                    <div class="thick-black"></div>


                </div>

            </div>

            <!-- END INTRO PARAGRAPH -->

        </div>
    </div>
    <div id="body-wrap">
        <div id="body-container" class="container">
            <div id="row0" class="row">
                <div id="tile0"></div>
                <div id="tile1"></div>
            </div>
            <div id="row1" class="row">
                <div id="tile2"></div>
                <div id="tile3"></div>
            </div>
            <div id="row2" class="row">
                <div id="tile4"></div>
                <div id="tile5"></div>
            </div>
            <div id="row3" class="row">
                <div id="tile6"></div>
            </div>
            <div id="row4" class="row">
                <div id="tile7"></div>
                <div id="tile8"></div>
                <div id="tile9"></div>
            </div>
            <div id="row5" class="row">
                <div id="tile10"></div>
            </div>
            <div id="row6" class="row">
                <div id="tile11"></div>
                <div id="tile12"></div>
            </div>
            <div id="row7" class="row">
                <div id="tile13"></div>
            </div>
            <div id="row8" class="row">
                <div id="tile14"></div>
            </div>
        </div>
    </div>
</div>

<!-- build:js({app,.tmp}) scripts/main.js -->
<script src="bower_components/requirejs/require.js"></script>
<script src="scripts/main.js"></script>
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script
    type="text/javascript">document.write('<script src="' + (location.protocol || 'http:') + '//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')</script>
<script src="http://localhost:35729/livereload.js?snipver=1" type="text/javascript"></script>


</body>
